:root {
    --primary: #5b0169;
    --secondery: #d35be6;
    --text: #d3d3d3;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--secondery);
    color: var(--text);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#quiz-container{
    background-color: var(--primary);
    padding: 2rem;
    border-radius: 17px;
    box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.4);
    width: 90%;
    max-width: 90%;
    text-align: center;
}

 .progress-bar {
            width: 100%;
            height: 10px;
            background: #eee;
            border-radius: 5px;
            margin-bottom: 20px;
            overflow: hidden;
        }

        #progress {
            height: 100%;
            background: var(--primary);
            width: 0%;
            transition: width 0.3s;
        }

        h1 { color: var(--primary); font-size: 1.5rem; }
        
        .question { font-size: 1.2rem; margin-bottom: 1.5rem; font-weight: 600; }

        .options {
            display: grid;
            gap: 10px;
        }

        button {
            padding: 12px;
            border: 2px solid var(--secondery);
            background: transparent;
            color: var(--secondery);
            border-radius: 8px;
            cursor: pointer;
            font-size: 1rem;
            transition: all 0.2s;
        }

        button:hover {
            background: var(--secondery);
            color: var(--white);
        }

        #result-screen { display: none; }
        .score { font-size: 3rem; color: var(--accent); font-weight: bold; }
        
        .badge {
            width: 100px;
            margin: 20px auto;
            display: block;
            animation: bounce 2s infinite;
        }

        @keyframes bounce {
            0%, 100% { transform: translateY(0); }
            50% { transform: translateY(-10px); }
        }

        .home-btn {
    margin-top: 15px;
    padding: 12px;
    border: 2px solid var(--text);
    background: transparent;
    color: var(--text);
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    transition: all 0.3s ease;
}

.home-btn:hover {
    background: var(--text);
    color: var(--primary);
    transform: scale(1.05);
}